@keyframes dropdownHover {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #4956f0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
header .logo {
    font-size: 20px;
    font-weight: bold;
}
header .options {
    display: flex;
    gap: 50px;
}
a {
    color: white;
    text-decoration: none;
}
.dropbtn {
    background-color: #4956f0;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    animation: dropdownHover 430ms ease-in-out forwards;
    transform-origin: top center;
}
.dropdown-content a {
    text-align: center;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #5e6aed;
}
.dropdown-content a:hover, .dropdown:hover .dropbtn {
    background-color: #737def;
}
.dropdown:hover .dropdown-content {
    display: block;
}
section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    max-width: 700px;
    margin: auto;
}
.transaction-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.transaction-block {
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    gap: 15px;
}
.icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.details {
    text-align: left;
}
.title {
    font-weight: bold;
}
.description {
    font-size: 14px;
    color: #333;
}
.show-more {
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
}